

/* Google Fonts */

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/* header styles */

.bg{
    background-image: url('../Assets/Hero-bg.png');
    height: 500px;
    max-width: 1320px;
    padding: 30px 60px;
}

.nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.logo{
    color: #4E47FF;
    font-size: 24px;
    font-weight: bolder;
}

.button{
  background-color: #4E47FF;
  border: none;
  color: white;
  padding: 0px 30px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 14px;
  border-radius: 10px;
}

.webflow{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.focused{
    background-color: #4E47FF;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 14px;
    border-radius: 7px;
}

/* webflow styles */

.live{
    background-color: #4E47FF;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 10px;
    border-radius: 7px;
    font-weight: bold;
}

.conf{
    margin: 150px auto;
    height: 300px;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}

.mini{
    width: 400px;
    height: 320px;
    border-radius: 10%;
}

.see{
    color: #252432;
    font-size: 28px;
}

.explore{
    color: #252432;
    opacity: 50%;
}

/* users styles */

.productive{
    background-color: #e2e1ff;
    height: 350px;
    max-width: 1140px;
    border-radius: 20px;
    margin: 0 auto;
}

.users{
    text-align: center;
    padding-top: 50px;
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.joined{
    color: #252432;
    font-size: 24px;
}

.k, .m, .ni{
    color: #4E47FF;
    font-size: 50px;
}

.ac, .sess, .ra{
    color: #000000;
    opacity: 50%;
    font-size: 18px;
}

/* focus styles */

.focus{
    background-color: rgb(255, 245, 245);
    max-width: 1140px;
    height: 700px;
    margin: 100px auto;
}

.conf22{
    background-color: #4E47FF;
    border: none;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 12px;
    border-radius: 7px;
    font-weight: bold;
}

.ready{
    text-align: center;
    padding-top: 50px;
}

.flow-image{
    background-image: url('../Assets/wc-big.png');
    height: 365px;
    max-width: 840px;
    background-size: cover;
    padding-top: 50px;
    border-radius: 30px;
    margin: 40px auto;
}

.start{
    color: #000000;
    opacity: 50%;
}

.better{
    color: #000000;
}

/* touch styles */

.touch{
    /* background-color: #000000; */
    /* opacity: 5%; */
    margin: 50px auto;
    max-width: 1140px;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

.touch-flex_1{
    text-align: left;
    padding-top: 60px;
    font-size: 40px;
}

.touch-flex_2{
    margin: 0;
    padding: 0;
    width: 200px;
}

#email, #name, #textarea{
    padding: 10px 20px;
}

.ra-1, .ra-2, .ra-3{
    font-weight: bold;
    font-size: 14px;
}

.btn-2{
    background-color: #4E47FF;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    width: 270px;
}